GOOGLE_SHEETS_SPREADSHEET_ID=your_spreadsheet_id
# Use either JSON blob or file path:
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
# GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/to/service-account.json

SHEETS_CACHE_TTL_SECONDS=600
GROUP_CACHE_TTL_SECONDS=600
ASSET_VERSION=1
